<:Title>
  Home

<:Body>
  <button e-click="start_time" >Start</button>
	<button e-click="stop_time" >Stop</button>
	

	
	
	
		
	
	<h2>{{ page._start_time}}</h2>
	<h3>Character Length: {{ find_character_length }}</h3>
	<h3>Words: {{ find_word_num }}</h3>	
	<h2>{{ play }}</h2> <!-- this is what triggeres the countdown-->
	<h2>{{ page._seconds }}</h2>
	<h2>{{ (page._seconds / 60)}}</h2>
	  
	<h3>Gross WPM: {{ gross_wpm }} </h3>
	
	<br><br>
	<form e-submit="find_gross_wpm" role="form">
		<div class="form-groop">
			<label>Begin Typing</label>
			<input class="form-control" type="text" value="{{ page._new_player }}" />
		
		</div>
	</form>	